body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Warna latar belakang halaman */
    color: #333; /* Warna teks utama */
}

/* Header */
header {
    background-color: #333; /* Warna latar belakang header */
    color: #fff; /* Warna teks header */
    padding: 20px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Menu horizontal */
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* Main */
main {
    padding: 2rem;
    text-align: center; /* Teks tengah */
}

.hero {
    margin-bottom: 2rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Footer */
footer {
    background-color: #333; /* Warna latar belakang footer */
    color: #fff; /* Warna teks footer */
    text-align: center;
    padding: .5rem 0;
    position: fixed; /* Footer tetap di bawah */
    bottom: 0;
    width: 100%;
}
footer p{
    font-size: 20px;
}